.Houses_Container {
    margin: auto;
    margin-top: 60px;
    max-width: 90%;
}

.load_all_houses{
margin-top: 156px;
margin-bottom: 156px;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
    list-style: none !important;
}

.center_description{
    display: flex;
    position: initial;
    margin-right: 28px;

}
