.carousel-item2 {
    position: absolute;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform .6s ease-in-out;
}

.w-100 {
    width: 80%!important;
    height: 425px;
    margin: auto;
    margin-top: 27px;
    border-radius: 13px;
    box-shadow: 0px 0px 10px 2px;
    color: #000000ba;
    opacity: 0.9;
}

.carousel-control-next {
    height: 147px;
    
    right: 339px;
    width: 30px;
    top: -2px;
}

.carousel-control-prev {
    left: 303px;
    top: 49px;
    width: 29px;
    height: 42px;
}

.Paginationcontainer {
    display: inline-table;
    margin-top: 12px;
}

.container_carousel {
    width: 45%;
    margin: auto;
    margin-top: 33px;
}
.carddd {
    margin: auto;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    width: 284px;
    border-radius: 0.25rem;
}

.btn_carousel {
    background-color: #d1c3c35c;
    max-width: 75px;
    margin: auto;
    border-radius: 11px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    box-shadow: 0px 0px 10px 1px;
    font-family: -webkit-body;
}