* {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;

    color: #484848;
}

div.logo_navbar {

    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(https://cdn-icons-png.flaticon.com/512/6908/6908753.png);
    width: 52px;
    height: 52px;
    border-radius: 124px;
    border-style: outset;
    margin-left: 48px;

}

.usr_btn_menu {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('https://cdn-icons-png.flaticon.com/512/1177/1177568.png');
    margin-top: 0px;
    margin-left: 29px;
    height: 32px;
    width: 30px;

}


.container_menu {

    align-content: center;
    text-align-last: center;
    background-color: aliceblue;
}

.container_carousel_principal {
    background-color: none;
    margin-bottom: 9%;
}

/**
* This is media Query to charge css layout design responsive
*/


@media (max-width:1050px) {
    .modal-content_comment {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 120%;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 0.3rem;
        outline: 0;
        top: -189px;
        left: 150px;
        margin: auto;
        z-index: 1;
    }

    div.logo_navbar {

        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(https://cdn-icons-png.flaticon.com/512/6908/6908753.png);
        width: 52px;
        height: 52px;
        border-radius: 124px;
        border-style: outset;
        margin-left: 48px;
        border: none;

    }


    .form_dist {
        display: inline-flex;
        width: auto;
        font-size: 15px;
    }

    .container_publicar {
        margin: auto;
        margin-top: 60px;
        background: #d7d7d740;
        border-radius: 21px;
        box-shadow: 0px 0px 27px -11px;
        margin-bottom: 10px;
    }

}



@media (max-width:1000px) {
    .modal-content_comment {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 120%;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 0.3rem;
        outline: 0;
        top: -189px;
        left: 150px;
        margin: auto;
        z-index: 1;
    }

    div.logo_navbar {

        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(https://cdn-icons-png.flaticon.com/512/6908/6908753.png);
        width: 52px;
        height: 52px;
        border-radius: 124px;
        border-style: outset;
        margin-left: 48px;
        border: none;

    }


    .form_dist {
        display: inline-flex;
        width: auto;
        font-size: 15px;
    }

    .container_publicar {
        margin: auto;
        margin-top: 60px;
        background: #d7d7d740;
        border-radius: 21px;
        box-shadow: 0px 0px 27px -11px;
        margin-bottom: 10px;
    }

    .rent img {
        border: none;
        opacity: 0.5;
        width: 50%;
        margin: auto;
    }
}


@media (max-width:950px) {
    .modal-content_comment {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 120%;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 0.3rem;
        outline: 0;
        top: -189px;
        left: 150px;
        margin: auto;
        z-index: 1;
    }

    div.logo_navbar {

        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(https://cdn-icons-png.flaticon.com/512/6908/6908753.png);
        width: 52px;
        height: 52px;
        border-radius: 124px;
        border-style: outset;
        margin-left: 48px;
        border: none;

    }


    .form_dist {
        display: inline-flex;
        width: auto;
        font-size: 15px;
    }

    .container_publicar {
        margin: auto;
        margin-top: 60px;
        background: #d7d7d740;
        border-radius: 21px;
        box-shadow: 0px 0px 27px -11px;
        margin-bottom: 10px;
    }

    .rent img {
        border: none;
        opacity: 0.5;
        width: 50%;
        margin: auto;
    }

    .rent2 img {
        display: inline;
        border: none;
        opacity: 0.5;
        width: 200px;
    }
}


@media (max-width:900px) {
    .modal-content_comment {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 120%;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 0.3rem;
        outline: 0;
        top: -189px;
        left: 150px;
        margin: auto;
        z-index: 1;
    }

    div.logo_navbar {


        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(https://cdn-icons-png.flaticon.com/512/6908/6908753.png);
        width: 52px;
        height: 52px;
        border-radius: 124px;
        border-style: outset;
        margin-left: 48px;
        border: none;

    }

    .form_dist {
        display: inline-flex;
        width: auto;
        font-size: 15px;
    }

    .container_publicar {
        margin: auto;
        margin-top: 60px;
        background: #d7d7d740;
        border-radius: 21px;
        box-shadow: 0px 0px 27px -11px;
        margin-bottom: 10px;
    }

    .rent2 img {
        display: inline;
        border: none;
        opacity: 0.5;
        width: 200px;
    }

    .rent img {
        width: 50%;
    }
}

@media (max-width:850px) {
    .modal-content_comment {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 120%;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 0.3rem;
        outline: 0;
        top: -189px;
        left: 150px;
        margin: auto;
        z-index: 1;
    }

    div.logo_navbar {

        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(https://cdn-icons-png.flaticon.com/512/6908/6908753.png);
        width: 52px;
        height: 52px;
        border-radius: 124px;
        border-style: outset;
        margin-left: 48px;
        border: none;

    }


    .form_dist {
        display: inline-flex;

        width: auto;
        font-size: 15px;
    }

    .container_publicar {
        margin: auto;
        margin-top: 60px;
        background: #d7d7d740;
        border-radius: 21px;
        box-shadow: 0px 0px 27px -11px;
        margin-bottom: 10px;
    }

    .rent2 img {
        display: initial;
        border: none;
        opacity: 0.5;
        width: 200px;
    }


}


@media (max-width:800px) {
    .modal-content_comment {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 120%;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 0.3rem;
        outline: 0;
        top: -189px;
        left: 150px;
        margin: auto;
        z-index: 1;
    }

    .container_carousel {
        width: 100%;
        margin: auto;
        margin-top: 33px;
    }

    div.logo_navbar {

        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(https://cdn-icons-png.flaticon.com/512/6908/6908753.png);
        width: 52px;
        height: 52px;
        border-radius: 124px;
        border-style: outset;
        margin-left: 48px;
        border: none;

    }

    .form_dist {
        display: inline-flex;
        width: auto;
        font-size: 15px;
    }

    .container_publicar {
        margin: auto;
        margin-top: 60px;
        background: #d7d7d740;
        border-radius: 21px;
        box-shadow: 0px 0px 27px -11px;
        margin-bottom: 10px;

    }

    .rent img {
        width: 50%;
    }

    .rent2 img {
        display: initial;
        border: none;
        opacity: 0.5;
        width: 200px;
    }

    .container_carousel {
        width: 45%;
        margin: auto;
        margin-top: 33px;
    }
}

@media (max-width: 780px) {
    .modal-content_comment {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 120%;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 0.3rem;
        outline: 0;
        top: -189px;
        left: -63px;
        margin: auto;
        z-index: 1;
    }

    .container_carousel {
        width: 100%;
        margin: auto;
        margin-top: 33px;
    }

    .perfil-house .datos-perfil {
        position: absolute;
        left: 0px;
        width: 100%;
        padding: 15px;
        text-align: center;
        top: 105%;
    }

    .perfil-house .contenedor-perfil {
        width: 100%;
    }

    .perfil-house .avatar-perfil {
        left: calc(50% - 115px)
    }

    .perfil-house .bio-usuario {
        font-size: 1em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .perfil-house .titulo-usuario {
        font-size: 2.1rem;
    }

    .perfil-house .portada-perfil-house {
        display: block;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        height: 17rem;
        margin-bottom: 0.5rem;
        background-image: url('https://icdn.dtcn.com/image/digitaltrends_es/2-229-500x500.jpg');
        opacity: 0.7;
        width: 100%;
        margin-bottom: 411px;
    }

    .perfil-house .menu-perfil ul {
        flex-direction: column;
    }

    .perfil-house .lista-perfil {
        display: block;
    }

    .perfil-house .menu-perfil {
        margin-top: 2rem;
    }

    .perfil-house .menu-perfil ul {
        display: flex;
        list-style: none;
        margin-left: auto;
        margin-right: auto;
        padding-top: 2.5rem;
        width: 70%;
        background-color: #fff;
        border-radius: 12px;
        box-shadow: 0 0 12px 2px rgba(0, 0, 0, .1);
    }

    .perfil-house .icono-perfil {
        display: inline-block;
    }

    .rent img {
        width: 45%;
    }
}



@media (max-width:750px) {
    .modal-content_comment {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 120%;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 0.3rem;
        outline: 0;
        top: -189px;
        left: -63px;
        margin: auto;
        z-index: 1;
    }

    .container_carousel {
        width: 100%;
        margin: auto;
        margin-top: 33px;
    }

    .control_btn_search {
        font-size: 10px;
    }

    div.logo_navbar {

        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(https://cdn-icons-png.flaticon.com/512/6908/6908753.png);
        width: 52px;
        height: 52px;
        border-radius: 124px;
        border-style: outset;
        margin-left: 48px;
        border: none;

    }

    .form_dist {
        display: inline-flex;

        width: auto;
        font-size: 15px;
    }

    .container_publicar {
        margin: auto;
        margin-top: 60px;
        background: #d7d7d740;
        border-radius: 21px;
        box-shadow: 0px 0px 27px -11px;
        margin-bottom: 10px;
        width: 114%;
    }

    .rent img {
        width: 45%;
    }

    .rent2 img {
        display: initial;
        border: none;
        opacity: 0.5;
        width: 200px;
    }
}



@media (max-width:700px) {
    .modal-content_comment {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 120%;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 0.3rem;
        outline: 0;
        top: -189px;
        left: -63px;
        margin: auto;
        z-index: 1;
    }

    .container_carousel {
        width: 100%;
        margin: auto;
        margin-top: 33px;
    }

    .btn-group>.btn-group:not(:last-child)>.btn,
    .btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        font-size: 14px;
    }

    div.logo_navbar {

        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(https://cdn-icons-png.flaticon.com/512/6908/6908753.png);
        width: 52px;
        height: 52px;
        border-radius: 124px;
        border-style: outset;
        margin-left: 48px;
        border: none;

    }

    .form_dist {
        display: inline-flex;

        width: auto;
        font-size: 15px;
    }

    .container_publicar {
        margin: auto;
        margin-top: 60px;
        background: #d7d7d740;
        border-radius: 21px;
        box-shadow: 0px 0px 27px -11px;
        margin-bottom: 10px;
        width: auto;
    }

    .rent img {
        border: none;
        opacity: 0.5;
        width: 200px;
    }

    .rent2 img {
        display: initial;
        border: none;
        opacity: 0.5;
        width: 200px;
    }
}

@media (max-width:650px) {


    .modal-content_comment {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 120%;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 0.3rem;
        outline: 0;
        top: -169px;
        left: -63px;
        margin: auto;
        z-index: 1;
    }

    .btn-group>.btn-group:not(:last-child)>.btn,
    .btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        font-size: 14px;
    }

    .container_carousel {
        width: 100%;
        margin: auto;
        margin-top: 33px;
    }

    div.logo_navbar {

        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(https://cdn-icons-png.flaticon.com/512/6908/6908753.png);
        width: 52px;
        height: 52px;
        border-radius: 124px;
        border-style: outset;
        margin-left: 48px;
        border: none !important;

    }

    .form_dist {
        display: inline-flex;

        width: auto;
        font-size: 15px;
    }

    .container_publicar {
        margin: auto;
        margin-top: 60px;
        background: #d7d7d740;
        border-radius: 21px;
        box-shadow: 0px 0px 27px -11px;
        margin-bottom: 10px;
        width: auto;
    }

    .rent img {
        border: none;
        opacity: 0.5;
        width: 200px;
    }

    .rent2 img {
        display: initial;
        border: none;
        opacity: 0.5;
        width: 200px;
    }
}

@media (max-width:600px) {
    .titl {
        font-size: 45px;
        color: #ffffffcc;
    }

    .parrafos {
        margin-top: 0;
        margin-bottom: 2px;
        color: #fff9f2;
        font-size: 14px;
    }

    .modal-content_comment {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 120%;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 0.3rem;
        outline: 0;
        top: -69px;
        left: -63px;
        margin: auto;
        z-index: 1;
    }

    .btn-group>.btn-group:not(:last-child)>.btn,
    .btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        font-size: 14px;
    }

    .container_carousel {
        width: 100%;
        margin: auto;
        margin-top: 33px;
    }

    div.logo_navbar {

        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(https://cdn-icons-png.flaticon.com/512/6908/6908753.png);
        width: 52px;
        height: 52px;
        border-radius: 124px;
        border-style: outset;
        margin-left: 48px;
        border: none;

    }

    .form_dist {
        display: inline-block;

        width: auto;
        font-size: 15px;
    }

    .container_publicar {
        margin: auto;
        margin-top: 60px;
        background: #d7d7d740;
        border-radius: 21px;
        box-shadow: 0px 0px 27px -11px;
        margin-bottom: 10px;
        width: auto;
    }

    .rent img {
        border: none;
        opacity: 0.5;
        width: 200px;
    }

    .rent2 img {
        display: initial;
        border: none;
        opacity: 0.5;
        width: 200px;
    }

    .Sections {
        width: 100%;
    }

    .container_comentario {
        background-color: #7d7d7e9c;
        width: 100%;
        margin: auto;
        margin-bottom: 5px;
        margin-top: 10px;
        border-radius: 13px 73px 0px 55px;
        box-shadow: 0px 0px 62px -10px;
        font-size: 15px;
        color: black;
    }



}

@media (max-width:550px) {
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        width: 235px;
        border-radius: 0.25rem;
        margin-top: 46px;
        margin: auto;
        margin-bottom: 16px;
    }

    .titl {
        font-size: 45px;
        color: #ffffffcc;
    }

    .parrafos {
        margin-top: 0;
        margin-bottom: 2px;
        color: #fff9f2;
        font-size: 14px;
    }

    .modal-content_comment {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 120%;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 0.3rem;
        outline: 0;
        top: -69px;
        left: -63px;
        margin: auto;
        z-index: 1;
    }

    .control_btn_search {
        margin-left: 61px;
        display: none;
    }

    .container_carousel {
        width: 100%;
        margin: auto;
        margin-top: 33px;
    }

    div.logo_navbar {

        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(https://cdn-icons-png.flaticon.com/512/6908/6908753.png);
        width: 52px;
        height: 52px;
        border-radius: 124px;
        border-style: outset;
        margin-left: 48px;
        border: none;

    }

    .form_dist {
        display: inline-block;
        width: auto;
        font-size: 15px;
    }

    .container_publicar {
        margin: auto;
        margin-top: 60px;
        background: #d7d7d740;
        border-radius: 21px;
        box-shadow: 0px 0px 27px -11px;
        margin-bottom: 10px;
        width: auto;
    }

    .rent img {
        border: none;
        opacity: 0.5;
        width: 200px;
    }

    .rent2 img {
        display: initial !important;
        border: none;
        opacity: 0.5;
        width: 200px;
    }

    .Sections {
        width: 100%;
    }
}

@media (max-width:500px) {
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        width: 235px;
        border-radius: 0.25rem;
        margin-top: 46px;
        margin: auto;
        margin-bottom: 16px;
    }

    .titl {
        font-size: 45px;
        color: #ffffffcc;
    }

    .parrafos {
        margin-top: 0;
        margin-bottom: 2px;
        color: #fff9f2;
        font-size: 14px;
    }

    .modal-content_comment {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 120%;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 0.3rem;
        outline: 0;
        top: -69px;
        left: -63px;
        margin: auto;
        z-index: 1;
    }

    .control_btn_search {
        margin-left: 61px;
        display: none;
    }

    .container_carousel {
        width: 100%;
        margin: auto;
        margin-top: 33px;
    }

    div.logo_navbar {

        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(https://cdn-icons-png.flaticon.com/512/6908/6908753.png);
        width: 52px;
        height: 52px;
        border-radius: 124px;
        border-style: outset;
        margin-left: 48px;
        border: none;

    }

    .form_dist {
        display: inline-block;
        width: auto;
        font-size: 15px;
    }

    .container_publicar {
        margin: auto;
        margin-top: 60px;
        background: #d7d7d740;
        border-radius: 21px;
        box-shadow: 0px 0px 27px -11px;
        margin-bottom: 10px;
        width: auto;
    }

    .rent img {
        border: none;
        opacity: 0.5;
        width: 200px;
    }

    .Sections {
        width: 100%;
    }

    .container_carousel {
        width: 100%;
        margin: auto;
        margin-top: auto;
        margin-top: 33px;
    }

    .dropdown {
        position: absolute;
        right: -113px;
        top: 0px;
    }
}

@media (max-width:450) {
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        width: 235px;
        border-radius: 0.25rem;
        margin-top: 46px;
        margin: auto;
        margin-bottom: 16px;
    }

    .titl {
        font-size: 45px;
        color: #ffffffcc;
    }

    .parrafos {
        margin-top: 0;
        margin-bottom: 2px;
        color: #fff9f2;
        font-size: 14px;
    }

    .modal-content_comment {
        position: fixed;
        display: flex;
        flex-direction: column;
        width: 120%;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 0.3rem;
        outline: 0;
        top: 50px;
        left: -63px;
        margin: auto;
    }

    .container_carousel {
        width: 100%;
        margin: auto;
        margin-top: 33px;
    }

    .control_btn_search {
        margin-left: 61px;
        display: none;
    }

    .form_dist {
        width: auto;
        font-size: 15px;
    }

    .Sections {
        width: 100%;
    }

    .container_carousel {
        width: 100%;
        margin: auto;
        margin-top: auto;
        margin-top: 33px;
    }

    .dropdown {
        position: absolute;
        right: -113px;
        top: 0px;
    }
}


@media (max-width:400) {
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        width: 235px;
        border-radius: 0.25rem;
        margin-top: 46px;
        margin: auto;
        margin-bottom: 16px;
    }

    .titl {
        font-size: 45px;
        color: #ffffffcc;
    }

    .parrafos {
        margin-top: 0;
        margin-bottom: 2px;
        color: #fff9f2;
        font-size: 14px;
    }

    .modal-content_comment {
        position: fixed;
        display: flex;
        flex-direction: column;
        width: 120%;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 0.3rem;
        outline: 0;
        top: 50px;
        left: -63px;
        margin: auto;
    }

    .container_carousel {
        width: 100%;
        margin: auto;
        margin-top: 33px;
    }

    .form_dist {
        width: auto;
        font-size: 15px;
    }

    .Sections {
        width: 100%;
    }

    .container_menu {
        align-content: center;
        text-align-last: center;
        background-color: aliceblue;
        width: 100%;
        margin: auto;
    }

    .container_carousel_principal {
        background-color: none;
        width: 42%;
    }

    .container_carousel {
        width: 100%;
        margin: auto;
        margin-top: auto;
        margin-top: 33px;
    }

    .dropdown {
        position: absolute;
        right: -122px;
    }
}


@media (max-width:350px) {
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        width: 235px;
        border-radius: 0.25rem;
        margin-top: 46px;
        margin: auto;
        margin-bottom: 16px;
    }

    .titl {
        font-size: 40px;
        color: #ffffffcc;
    }

    .parrafos {
        margin-top: 0;
        margin-bottom: 2px;
        color: #fff9f2;
        font-size: 12px;
    }

    .modal-content_comment {
        position: fixed;
        display: flex;
        flex-direction: column;
        width: 120%;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 0.3rem;
        outline: 0;
        top: 50px;
        left: -63px;
        margin: auto;
    }

    .container_carousel {
        width: 100%;
        margin: auto;
        margin-top: 33px;
    }

    .form_dist {

        width: auto;
        font-size: 15px;
    }

    .Sections {
        width: 100%;
    }

    .dropdown {
        position: absolute;
        right: -122px;
    }
}

@media (max-width:300px) {
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        width: 235px;
        border-radius: 0.25rem;
        margin-top: 46px;
        margin: auto;
        margin-bottom: 16px;
    }

    .titl {
        font-size: 35px;
        color: #ffffffcc;
    }

    .parrafos {
        margin-top: 0;
        margin-bottom: 2px;
        color: #fff9f2;
        font-size: 10px;
    }

    .form_dist {
        display: inline-block;
        width: auto;
        font-size: 15px;
    }

    div.logo_navbar {
        display: none !important;
    }

    .container_publicar {
        margin: auto;
        margin-top: 60px;
        background: #d7d7d740;
        border-radius: 21px;
        box-shadow: 0px 0px 27px -11px;
        margin-bottom: 10px;
        width: auto;
    }

    .rent img {
        width: 100%;
    }

    .container_carousel {
        width: 100%;
        margin: auto;
        margin-top: 33px;
    }

    .Sections {
        width: 100%;
    }

    .dropdown {
        position: absolute;
        right: -122px;
    }
}

@media (max-width: 250px) {
    .titl {
        font-size: 35px;
        color: #ffffffcc;
    }

    .parrafos {
        margin-top: 0;
        margin-bottom: 2px;
        color: #fff9f2;
        font-size: 10px;
    }

    .container_carousel {
        width: 100%;
        margin: auto;
        margin-top: 33px;
    }

    .dropdown {
        position: absolute;
        right: -122px;
    }

    .header_col {
        display: flex;
        height: 51px;
        margin: auto;
        justify-content: flex-start;
        z-index: 1;
        box-shadow: 0px 0px 189px 2px;
        border-color: #9b98a7;
        border-end-end-radius: 150px;
        border-end-start-radius: 150px;
    }

    div.logo_navbar {
        display: none !important;
    }

    .container_publicar {
        margin: auto;
        margin-top: 60px;
        background: #d7d7d740;
        border-radius: 21px;
        box-shadow: 0px 0px 27px -11px;
        margin-bottom: 10px;
        width: auto;
    }

    .rent img {
        width: 100%;
    }

    .Sections {
        width: 100%;
    }

    .form-switch {
        display: none;
    }




}

@media (maxx-widt:160px) {
    body {
        background-image: url('https://cdn-icons-png.flaticon.com/512/6908/6908753.png');
        ;
    }

    div.logo_navbar {
        display: none !important;
    }

    .container_carousel {
        width: 100%;
        margin: auto;
        margin-top: 33px;
    }

    .form-switch {
        display: none;
    }
}