.container_publicar {
    margin: auto;
    margin-top: 60px;
    background: #d7d7d740;
    border-radius: 21px;
    box-shadow: 0px 0px 27px -11px;
    margin-bottom: 10px;
}

.form_dist {
    display: inline-flex;
    
}

.rent {
    border: none;
    align-self: center;
}
.rent img {
    border: none;
    opacity: 0.5;
    width: 238px;
    margin-left: -100px;
}

.Load_p {
    position: absolute;
    right: 640px;
    bottom: 170px;
    z-index: 1;
}


.photoss {
    width: 247px;
}

.locationss {
    display: flex;
}

.rent2 {
    display:none;
}