.container_info {
    background-color: none;
}

.container_more_info{
    width: 80%;
    margin: auto;
    display: inline-flex;
    
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    width: 235px;
    border-radius: 0.25rem;
    margin-top: 46px;
}

.delete_btn:hover{
    background-color: red;
    border-color: red;
}

.no_leases {
    width: 300px !important;
    height: auto;
    margin: auto;
}

