.icon-test {
    font-size: 61px;
}

.cardd {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    width: 235px;
    border-radius: 11px;
}

.card-img{
    border-radius: 5px;
    zoom: 1;
}
.card-img:hover {
    z-index: 1;
    margin-left: -81px;
    width: 390px;
    box-shadow: 0px 0px 20px 1px;
}

.ValueHouse{
    display: inline-flex;
    text-align: center;
    place-self: center;
}

.spann {
    position: absolute;
    top: -9999em;
    left: -9999em;
}

