#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
  }
  
  #form p {
    text-align: center;
  }
  
  #form label {
    font-size: 20px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  label {
      
    color: orange;
    font-size: 56px;
    margin-bottom: -20px;
    margin-top: -45px;
    }
    
    .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
  label:hover,
  label:hover ~ label {
      color: grey;
  }
  
  input[type="radio"]:checked ~ label:hover {
    color: orange;
  }